# Temporary folders #
#####################
input-cache
temp
template
output

# Don't commit this because it's so large #
###########################################
publisher.jar

# backup files #
################
backup
